body{
    margin: 0px;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 0px    ;
   
}
.header{
    background-color: royalblue;
    color: white;


}

.bt{
    border: 2px solid white;
  
    padding: 10px;
    

}

.bt :hover{
    color: yellow;
    background-color: yellowgreen;
}
.hv :hover{
    background-color: royalblue;
}

